@media all and (max-width: 670px) {
  h1 {
    font-size: 32px;
  }

  .text-contents p {
    font-size:20px;
  }

  .text-contents li {
    font-size:20px;
  }

  header li {
    font-size:15px;
  }

}

@media all and (max-width: 670px) {
  h1 {
    font-size: 24px;
  }

  .text-contents p {
    font-size:14px;
  }

  .text-contents li {
    font-size:14px;
  }

  header li {
    font-size:10px;
  }

}
